@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --primary-color: #fb8500;
    --secondary-color: #023047;
    --accent1-color: #fbefb9;
    --accent2-color: #FFB703;
    
    --heading-font: "Roboto", sans-serif;
    --paragraph-font: "Montserrat", sans-serif;

    --nav-background-color:var(--secondary-color);
    --nav-link-color:var(--primary-color);
    --nav-hover-link-color:var(--accent1-color);
    --nav-hover-background-color:var(--secondary-color);
}

header{
    margin: 1rem auto;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    max-width: 1024;
}

header img{
    width: 150px;
}

p {
    padding: 25px;
    text-align: justify;
}

h1, h2, h3, h4, h5, h6 {
    font-family:var(--heading-font);
    color:var(--primary-color);
    text-align: center;
}

nav {
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

a:link { 
    text-decoration: none;
    
    border: none;
    border-bottom: 1px solid #023047;
    background-color: #efefef;
    border-radius: 10% 10% 0% 0%;
    margin:.1rem;
    text-align: center;
} 

a:visited { 
    text-decoration: none; 
} 

a:hover { 
    text-decoration: none; 
} 

a:active { 
    text-decoration: none; 
}

.sociallinks {
    background-color: white;
}

nav a:link, nav a:visited {
   /* color:  var(--nav-link-color);*/
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
    border-radius: 10% 10% 0% 0%;
}

body{
    font-family:var(--paragraph-font);
    max-width: 1024px;
    margin: auto;
}

.hero{
    background-color: rgba(0, 0, 0, .1);
    position: relative;
}

.img-over{
    display: block;
    margin: 1%;
    float: right;
}

.hero h1{
    position: absolute;
    top: 0;
    left: 20%;
    transform: translate(50%, 50%);
    background-color: rgba(0, 0, 0, .5);
}

.art {
    position: absolute;
    top: 0px;
    left: 10%;
    right: 10%;
    transform: translate(0%, 90%);
    background-color: rgba(0, 0, 0, .5);
    color: var(--nav-hover-link-color);
}

.history{
    display: flex;
}

.history img{
    width: 150px;
    height: 100px;
    margin-top: 40px;
}

figcaption {
    text-align: center;
}

.flex_cap{
    display: flex;
}

figure img{
    width: 190px;
}

figure {
    padding: 0;
    margin: 7px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-top: 1px solid #023047;
    margin-top: 2rem;
    ;
}
footer p{
    align-items: center;
    text-align: center;
    padding-right: 5%;
}
