@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

:root{
    --primary-color:#023047;
    --secondary-color:#00bbff72;
    --accent1-color: #ffffff;
    --accent2-color: #FFB703;
    
    --heading-font:  "Dancing Script", sans-serif;
    --paragraph-font: "Montserrat", sans-serif;

    --nav-background-color:var(--secondary-color);
    --nav-link-color:var(--primary-color);
    --nav-hover-link-color:var(--accent1-color);
    --nav-hover-background-color:var(--secondary-color);
}

header{
    margin: 1rem auto;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    max-width: 1024px;
}

header img{
    width: 150px;
}

p {
    padding: 25px;
    text-align: justify;
    font-family:var(--paragraph-font);
}

h1, h2, h3, h4, h5, h6 {
    font-family:var(--heading-font);
    color:var(--primary-color);
    text-align: center;
}

nav {
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

a:link { 
    text-decoration: none;
    
    border: none;
    border-bottom: 1px solid #023047;
    background-color: #efefef;
    border-radius: 10% 10% 0% 0%;
    margin:.1rem;
    text-align: center;
} 

a:visited { 
    text-decoration: none; 
} 

a:hover { 
    text-decoration: none; 
} 

a:active { 
    text-decoration: none; 
}

.sociallinks {
    background-color: white;
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
    border-radius: 10% 10% 0% 0%;
}

body{
    font-family:var(--paragraph-font);
    max-width: 1024px;
    margin: auto;
}

.hero{
    position: relative;
    background-color: rgba(0, 0, 0, .1);
}

.img-over{
    display: block;
    margin: 1%;
    float: right;
}

.hero h1{
    color: #efefef;
    position: absolute;
    padding: 1rem 1rem 1rem 1rem;
    top: 0;
    left: 10%;
    width: 77%;
    background-color: rgba(0, 0, 0, .4);
    text-shadow: 2px 2px 2px #303030dd
}

.art {
    position: absolute;
    top: 0px;
    left: 10%;
    right: 10%;
    transform: translate(0%, 90%);
    background-color: rgba(0, 0, 0, .5);
    color: var(--nav-hover-link-color);
}

.history{
    display: flex;
    align-items: center;
}

.history img{
    width: 150px;
    height: 100px;
    margin-top: 0px;
}

figcaption {
    text-align: center;
}

.flex_cap{
    display: flex;
}

figure img{
    width: 190px;
}

figure {
    padding: 0;
    margin: 7px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #023047;
    margin-top: 2rem;
    ;
}
footer p{
    align-items: center;
    text-align: center;
    padding-right: 5%;
}

iframe {
    border: none;
}

.information {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    place-items: center;
}
    
li {
    margin: 10px 10px;
    font-size: 1rem;
}

.divcontact p{
    /*font-family:var(--heading-font);*/
    color:var(--primary-color);
    text-align: left;
    font-size: 1.3rem;
}

.employee {
    display: grid;
    margin: 0;
    padding: 0;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    place-items: center;
}

form {
    width: 500px;
    margin: 0 auto;
    padding: 1.8rem;
    border: 1px solid var(--primary-color);
    border-radius: 0.5rem;
    background-color: #f3f3f3;
    display: grid;
}

label {
    text-align: left;
    padding: .8rem;
    font-size: 1rem;
}

input, textarea {
    padding: .5rem;
    font-size: 1rem;
    font-family: var(--paragraph-font);
}
 input[type="checkbox"] {
    margin-left: auto;
    margin-top: -2rem;
    width: 1rem;
    height: 1rem;
    vertical-align:top;
 }
 input[type="radio"]{
    margin-left: auto;
    margin-top: -2rem;
    justify-items: center;
    width: 1rem;
    height: 1rem;
    vertical-align: bottom;
 }

button {
    margin: 1rem;
    padding: .75rem;
    font-size: 1.1rem;
}

.custom-button1{
    display:block;
    justify-items: center;
    align-items: center;

    margin: -10% auto 5% auto ;
}

.custom-button2{
    display:block;
    justify-items: center;
    align-items: center;
    margin: 0px auto 0px auto ;
}

button{
    min-width: 130px;
    height: 2.5rem;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    overflow: hidden;
    border-radius: 5px;
    border: none;
    background-color:var(--primary-color);
    box-shadow: 0px 2px 4px #303030
  }
    button:hover {
    border-radius: 5px;
    padding-right: 24px;
    padding-left:8px;
  }
    button:hover:after {
    opacity: 1;
    right: 10px;
  }
    button:after {
    content: "\00BB";
    position: absolute;
    opacity: 0;
    font-size: 20px;
    line-height: 40px;
    top: 0;
    right: -20px;
    transition: 0.4s;
}

.threerows {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin: auto;
}

.tworows {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 0px;
    margin-bottom: 20px;
}

.twodiv1, .twodiv2{
    position: relative;
}

.textover{
    color: #efefef;
    position: absolute;
    padding: 1rem 1rem 1rem 1rem;
    top: 0;
    left: 10%;
    width: 77%;
    background-color: rgba(0, 0, 0, .4);
    text-shadow: 2px 2px 2px #303030dd
}

.butover{
    display:block;
    justify-items: center;
    align-items: center;
    margin:auto;
    margin-top: -15%;
    margin-bottom: 5%;
}

.specialtext{
    text-align: center;
    padding:  3rem 5rem;
    font-size: 1.1rem;
    font-weight: 500;
    color: #023047;

} 

.lottieicon{
    display:block;
    justify-items: center;
    margin: 100px auto -60px 460px;
}

.threerows img{
    display: block;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    margin: 20px auto 0px auto;
}

.threerows p{
    text-align: center;
    margin: -30px 0px 60px 0px;
}

.safety{
    font-size: 1.5rem;
    text-align: center;
    margin: 40px 0px 20px 0px;
}

.lastchance p{
    text-align: center;
    margin: -20px 0px 20px 0px;
}