* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: steelblue;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    display: block;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    color: white;
    padding: 0.5rem;
}

h1 {
    color: steelblue;
    padding: 1rem;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 0 0 1rem 1rem;
}



/* Class Selectors */

.box {
    margin: 1rem;
    border: 1px solid steelblue;
    padding: 2rem;
    background-color: #eee;
    color: #000;
}

.aside img{
    width: 15em;
    height: auto;
    text-align: center;
}

.aside h2 {
    position: absolute;
    top: 40px;
    left: 110px;

}

p{
    margin: 1rem;
    padding: 0px;
    text-align: justify;
}

header, footer, .grid{
    max-width: 840px;
    margin: 0 auto;
    text-align: center;
    border-top: 1px solid rgb(10, 25, 38);
}

.grid {
    display: grid;
    align-items: center;
}

main {
    grid-column: 2/3;
    margin: 1rem;
}

aside {
    width: 20rem;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
    margin: 1rem;
    border: 1px royalblue;
    padding: 1rem;
    background-color: azure;
    color: black;
    text-align: center; 
}

footer p {
    text-align: center;
}